body{
	font-size:20px;
	font-family: 'Khula', sans-serif;
	background-color:gray;
}

h1{ font-size: 30px;
	text-align: center; 
	font-family: 'Barrio', cursive;

}
.container {
	width:70%;
	margin: 0 auto;
}

/*trivia section*/
.triviaSection {
	display:none;

}

.triviaContent{
	margin-top:40px;
	text-align:center;
	font-size:30px;
}

img{
	width:250px;
	height:300px;
}

.winnerInfo{
	float:right;
	width:50%;
}

.lose {
	clear:both;
	display:none;
}

button {
	padding:20px;
	margin: 10px 0;
	width:80%;
	font-size:30px;
	background: 146,180,192;
	border:0;
}

button:hover{
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.start{
	width:100%;
}
/*time remaining area*/

.timer{
	text-align:center;
	margin-top:50px;
}

.timeNum{
	margin-top:10px;
	padding:20px;
}